{% extends 'impairment_engine/base.html' %}
{% load humanize %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">calculate</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total Expected Credit Loss</p>
              {% if ECL is not None %}
                <h4 class="mb-0">ZMW {{ ECL_TOTAL|floatformat:"0"|intcomma }}</h4>
              {% else %}
                <h4 class="mb-0">ZMW0.00</h4>
              {% endif %}
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than prior period</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">table_chart</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Stage 1 Expected Credit Loss</p>
              {% if ECL is not None %}
                <h4 class="mb-0">ZMW {{ ECL_STAGE1|floatformat:"0"|intcomma }}</h4>
              {% else %}
                <h4 class="mb-0">ZMW0.00</h4>
              {% endif %}
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than prior period</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">table_chart</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Stage 2 Expected Credit Loss</p>
              {% if ECL is not None %}
                <h4 class="mb-0">ZMW {{ ECL_STAGE2|floatformat:"0"|intcomma }}</h4>
              {% else %}
                <h4 class="mb-0">ZMW0.00</h4>
              {% endif %}
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than prior period</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">table_chart</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Stage 3 Expected Credit Loss</p>
              {% if ECL is not None %}
                <h4 class="mb-0">ZMW {{ ECL_STAGE3|floatformat:"0"|intcomma }}</h4>
              {% else %}
                <h4 class="mb-0">ZMW0.00</h4>
              {% endif %}
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than prior period</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-info shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Stage 1 Summary Analytics</h6>
            <p class="text-sm ">(change in number of loans)</p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> Some stat here </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Stage 2 Summary Analytics</h6>
            <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increase in ECL </p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> updated 4 min ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-dark border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Stage 3 Summary Analytics</h6>
            <p class="text-sm ">Change in Number of loans or movement in ECL</p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm">just updated</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>SUMMARY BY LOAN TYPE</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">11 Unique Loan Segments Identified</span>
                </p>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                  <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead class="bg-light">
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-semibold opacity-7 ps-3">Loan Type</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-semibold opacity-7 ps-3">Total Expected Credit Loss</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-semibold opacity-7 ps-3">Total Exposure</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-semibold opacity-7 ps-3">Proportion of Total Exposure</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-semibold opacity-7 ps-3">Coverage Ratio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="text-xs font-weight-bold">SSB Loans</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">21,888,794</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">699,104,111</span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">69.41%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:69.41%;" aria-valuenow="69.41" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">3.13%</span>
                          </div>
                        </div>
                        <div class="progress" style="height:5px">
                          <div class="progress-bar bg-gradient-info" role="progressbar" style="height:5px;width:6%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h6>PERFORMANCE METRICS</h6>
            <p class="text-sm">
              {% if ECL is not None %}
              <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>

              <span class="font-weight-bold">As At {{ project.report_date|date:"j F Y" }}</span>
            </p>
            {% endif %}
          </div>
          <div class="card-body p-3">
            <div class="timeline timeline-one-side">
              <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-danger text-gradient">key</i>
                </span>
                <div class="timeline-content">
                  <h6 class="text-dark text-sm font-weight-bold mb-0">{{ largest_loan_type }} - ZMW {{ largest_loan_value|floatformat:0|intcomma }}</h6>
                  <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Largest Asset Class by Volume </p>
                </div>
              </div>
              <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-success text-gradient">money</i>
                </span>
                <div class="timeline-content">
                  <h6 class="text-dark text-sm font-weight-bold mb-0">{{ best_performing }} - ZMW {{ best_performing_ead|floatformat:0|intcomma }}</h6>
                  <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Best Performing (Lowest Coverage Ratio)</p>
                </div>
              </div>

              <!-- <div class="timeline-block mb-3"> -->
                <!-- <span class="timeline-step"> -->
                  <hr>
                  <hr>
                  <hr>
                <!-- </span> -->
                <!-- <div class="timeline-content"> -->

                <!-- </div> -->
              <!-- </div> -->
              <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-warning text-gradient">send</i>
                </span>
                <div class="timeline-content">
                  <h6 class="text-dark text-sm font-weight-bold mb-0">{{ smallest_loan_type }} - ZMW {{ smallest_loan_value|floatformat:0|intcomma }}</h6>
                  <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Smallest Asset Class by Volume</p>
                </div>
              </div>
              <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-info text-gradient">money_off</i>
                </span>
                <div class="timeline-content">
                  <h6 class="text-dark text-sm font-weight-bold mb-0">{{ worst_performing }} - ZMW {{ worst_performing_ead|floatformat:0|intcomma }}</h6>
                  <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Worst Perfroming (Highest Coverage Ratio)</p>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
